@import url('https://fonts.googleapis.com/css?family=Droid+Serif');

h1 {
    color: black;
    font-family: 'Droid Serif',serif;
    font-size: 62px;
    font-weight: 800;
    line-height: 72px;
    margin: 0 0 24px;
    margin-top: 60px;
    text-align: center;
    text-transform: uppercase;
}

table {
    color: #333;
    font-family: 'Droid Serif', serif;
    width: 640px;
    border-collapse: collapse;
    border-spacing: 0;
    margin-left: auto;
    margin-right: auto;
}

td th {
    border: 0;
    height: 30px;
}

th {
    /* Gradient Background */
    background: linear-gradient(#333 0%,#444 100%);
    color: #FFF; font-weight: bold;
    height: 40px;
}

td {
    height: 30px;
    transition: all 0.3s; /* simple transition for hover effect */
    position: relative;
}

td {
    background: #FAFAFA;
    text-align: center;
}


/* Add border-radius to specific cells! */
tr:first-child th:first-child {
    border-radius: 5px 0 0 0;
}

tr:first-child th:last-child {
    border-radius: 0 5px 0 0;
}


/* cells in even rows are one color */
tr:nth-child(even) td { background: #F1F1F1; }

/* cells in odd rows are onother color */
tr:nth-child(odd) td { background: #FEFEFE; }


body {
    background:url('images/background.png')  no-repeat;
    background-attachment:fixed;
    background-position: center top 156px ;
}